

<h3>Add New Restaurant</h3>


<form action="/restaurants" method="POST">
    <div style="text-align: center;" class="mb-3">
        <label for="name" class="form-label">Restaurant name</label>
        <input type="text" class="form-control" placeholder="Enter restaurant name here..">   
    </div>

    <div style="text-align: center;" class="mb-3">
        <label for="image" class="form-label">Restaurant image</label>
        <input type="url" name="image" class="form-control" placeholder="Enter image URL here.." >
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>